.tuts-items {
  display: none; }

.tuts-container {
  font-size: 14px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  color: #333333;
  background: none repeat scroll 0 0 #cccccc;
  border: solid 10px #8c8c8c;
  box-shadow: 3px 3px 3px #666;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 300px; }
  .tuts-container .tuts-content {
    display: block;
    margin-bottom: 40px;
    margin-right: 20px; }
  .tuts-container .tuts-exit {
    font-size: 10px;
    padding: 1px  3px 2px;
    margin: 1px 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 0 0 #a6a6a6;
    -webkit-box-shadow: inset 0 1px 0 0 #a6a6a6;
    -o-box-shadow: inset 0 1px 0 0 #a6a6a6;
    box-shadow: inset 0 1px 0 0 #a6a6a6;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwNzA3MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c8c8c), color-stop(100%, #707070));
    background-image: -webkit-linear-gradient(#8c8c8c, #707070);
    background-image: -moz-linear-gradient(#8c8c8c, #707070);
    background-image: -o-linear-gradient(#8c8c8c, #707070);
    background-image: -ms-linear-gradient(#8c8c8c, #707070);
    background-image: linear-gradient(#8c8c8c, #707070);
    background-color: #8c8c8c;
    border: solid 1px #544545;
    display: inline-block;
    font-family: tahoma, helvetica, arial, freesans, sans-serif;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #6d5050;
    vertical-align: baseline;
    cursor: hand;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0px;
    font-family: verdana, sans-serif;
    font-weight: bold; }
    .tuts-container .tuts-exit:hover:not(:disabled) {
      -moz-box-shadow: inset 0 1px 0 0 #999999;
      -webkit-box-shadow: inset 0 1px 0 0 #999999;
      -o-box-shadow: inset 0 1px 0 0 #999999;
      box-shadow: inset 0 1px 0 0 #999999;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwODA4MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY5Njk2OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #696969));
      background-image: -webkit-linear-gradient(#808080, #696969);
      background-image: -moz-linear-gradient(#808080, #696969);
      background-image: -o-linear-gradient(#808080, #696969);
      background-image: -ms-linear-gradient(#808080, #696969);
      background-image: linear-gradient(#808080, #696969); }
    .tuts-container .tuts-exit:active:not(:disabled) {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY5Njk2OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgwODA4MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #808080));
      background-image: -webkit-linear-gradient(#696969, #808080);
      background-image: -moz-linear-gradient(#696969, #808080);
      background-image: -o-linear-gradient(#696969, #808080);
      background-image: -ms-linear-gradient(#696969, #808080);
      background-image: linear-gradient(#696969, #808080);
      -moz-box-shadow: inset 0 1px 0 0 #999999;
      -webkit-box-shadow: inset 0 1px 0 0 #999999;
      -o-box-shadow: inset 0 1px 0 0 #999999;
      box-shadow: inset 0 1px 0 0 #999999; }
  .tuts-container .tuts-next, .tuts-container .tuts-close {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 12px;
    padding: 4px 20px 6px;
    margin: 4px 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 0 0 #a6a6a6;
    -webkit-box-shadow: inset 0 1px 0 0 #a6a6a6;
    -o-box-shadow: inset 0 1px 0 0 #a6a6a6;
    box-shadow: inset 0 1px 0 0 #a6a6a6;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwNzA3MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c8c8c), color-stop(100%, #707070));
    background-image: -webkit-linear-gradient(#8c8c8c, #707070);
    background-image: -moz-linear-gradient(#8c8c8c, #707070);
    background-image: -o-linear-gradient(#8c8c8c, #707070);
    background-image: -ms-linear-gradient(#8c8c8c, #707070);
    background-image: linear-gradient(#8c8c8c, #707070);
    background-color: #8c8c8c;
    border: solid 1px #544545;
    display: inline-block;
    font-family: tahoma, helvetica, arial, freesans, sans-serif;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #6d5050;
    vertical-align: baseline;
    cursor: hand;
    cursor: pointer;
    margin: 0px; }
    .tuts-container .tuts-next:hover:not(:disabled), .tuts-container .tuts-close:hover:not(:disabled) {
      -moz-box-shadow: inset 0 1px 0 0 #999999;
      -webkit-box-shadow: inset 0 1px 0 0 #999999;
      -o-box-shadow: inset 0 1px 0 0 #999999;
      box-shadow: inset 0 1px 0 0 #999999;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwODA4MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY5Njk2OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #696969));
      background-image: -webkit-linear-gradient(#808080, #696969);
      background-image: -moz-linear-gradient(#808080, #696969);
      background-image: -o-linear-gradient(#808080, #696969);
      background-image: -ms-linear-gradient(#808080, #696969);
      background-image: linear-gradient(#808080, #696969); }
    .tuts-container .tuts-next:active:not(:disabled), .tuts-container .tuts-close:active:not(:disabled) {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY5Njk2OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgwODA4MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #808080));
      background-image: -webkit-linear-gradient(#696969, #808080);
      background-image: -moz-linear-gradient(#696969, #808080);
      background-image: -o-linear-gradient(#696969, #808080);
      background-image: -ms-linear-gradient(#696969, #808080);
      background-image: linear-gradient(#696969, #808080);
      -moz-box-shadow: inset 0 1px 0 0 #999999;
      -webkit-box-shadow: inset 0 1px 0 0 #999999;
      -o-box-shadow: inset 0 1px 0 0 #999999;
      box-shadow: inset 0 1px 0 0 #999999; }
  .tuts-container .tuts-arrow, .tuts-container .tuts-arrow-shadow {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    margin: auto auto; }
  .tuts-container .tuts-arrow {
    z-index: 15;
    border-width: 14px !important; }
    .tuts-container .tuts-arrow.tuts-top-center, .tuts-container .tuts-arrow.tuts-top-left, .tuts-container .tuts-arrow.tuts-top-right {
      border-color: #cccccc transparent transparent transparent !important;
      bottom: -28px;
      left: 0;
      right: 0; }
    .tuts-container .tuts-arrow.tuts-bottom-center, .tuts-container .tuts-arrow.tuts-bottom-left, .tuts-container .tuts-arrow.tuts-bottom-right {
      border-color: transparent transparent #cccccc !important;
      top: -28px;
      left: 0;
      right: 0; }
    .tuts-container .tuts-arrow.tuts-top-left, .tuts-container .tuts-arrow.tuts-bottom-left {
      left: 15px;
      right: auto; }
    .tuts-container .tuts-arrow.tuts-top-right, .tuts-container .tuts-arrow.tuts-bottom-right {
      left: auto;
      right: 15px; }
    .tuts-container .tuts-arrow.tuts-left-center, .tuts-container .tuts-arrow.tuts-left-top, .tuts-container .tuts-arrow.tuts-left-bottom {
      border-color: transparent transparent transparent #cccccc !important;
      right: -28px;
      top: 0;
      bottom: 0; }
    .tuts-container .tuts-arrow.tuts-right-center, .tuts-container .tuts-arrow.tuts-right-top, .tuts-container .tuts-arrow.tuts-right-bottom {
      border-color: transparent #cccccc transparent transparent !important;
      left: -28px;
      top: 0;
      bottom: 0; }
    .tuts-container .tuts-arrow.tuts-left-top, .tuts-container .tuts-arrow.tuts-right-top {
      top: 15px;
      bottom: auto; }
    .tuts-container .tuts-arrow.tuts-left-bottom, .tuts-container .tuts-arrow.tuts-right-bottom {
      top: auto;
      bottom: 15px; }
    .tuts-container .tuts-arrow.tuts-top-center, .tuts-container .tuts-arrow.tuts-bottom-center {
      left: expression(((this.parentElement.clientWidth / 2)-14) + "px"); }
    .tuts-container .tuts-arrow.tuts-left-center, .tuts-container .tuts-arrow.tuts-right-center {
      top: expression(((this.parentElement.clientHeight / 2)-14) + "px"); }
  .tuts-container .tuts-arrow-shadow {
    z-index: 10;
    border-width: 24px !important; }
    .tuts-container .tuts-arrow-shadow.tuts-top-center, .tuts-container .tuts-arrow-shadow.tuts-top-left, .tuts-container .tuts-arrow-shadow.tuts-top-right {
      border-color: #8c8c8c transparent transparent transparent !important;
      bottom: -48px;
      left: 0;
      right: 0; }
    .tuts-container .tuts-arrow-shadow.tuts-bottom-center, .tuts-container .tuts-arrow-shadow.tuts-bottom-left, .tuts-container .tuts-arrow-shadow.tuts-bottom-right {
      border-color: transparent transparent #8c8c8c !important;
      top: -48px;
      left: 0;
      right: 0; }
    .tuts-container .tuts-arrow-shadow.tuts-top-left, .tuts-container .tuts-arrow-shadow.tuts-bottom-left {
      left: 5px;
      right: auto; }
    .tuts-container .tuts-arrow-shadow.tuts-top-right, .tuts-container .tuts-arrow-shadow.tuts-bottom-right {
      left: auto;
      right: 5px; }
    .tuts-container .tuts-arrow-shadow.tuts-left-center, .tuts-container .tuts-arrow-shadow.tuts-left-top, .tuts-container .tuts-arrow-shadow.tuts-left-bottom {
      border-color: transparent transparent transparent #8c8c8c !important;
      right: -48px;
      top: 0;
      bottom: 0; }
    .tuts-container .tuts-arrow-shadow.tuts-right-center, .tuts-container .tuts-arrow-shadow.tuts-right-top, .tuts-container .tuts-arrow-shadow.tuts-right-bottom {
      border-color: transparent #8c8c8c transparent transparent !important;
      left: -48px;
      top: 0;
      bottom: 0; }
    .tuts-container .tuts-arrow-shadow.tuts-left-top, .tuts-container .tuts-arrow-shadow.tuts-right-top {
      top: 5px;
      bottom: auto; }
    .tuts-container .tuts-arrow-shadow.tuts-left-bottom, .tuts-container .tuts-arrow-shadow.tuts-right-bottom {
      top: auto;
      bottom: 5px; }
    .tuts-container .tuts-arrow-shadow.tuts-top-center, .tuts-container .tuts-arrow-shadow.tuts-bottom-center {
      left: expression(((this.parentElement.clientWidth / 2)-24) + "px"); }
    .tuts-container .tuts-arrow-shadow.tuts-left-center, .tuts-container .tuts-arrow-shadow.tuts-right-center {
      top: expression(((this.parentElement.clientHeight / 2)-24) + "px"); }

.tuts-container-red {
  font-size: 14px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  color: #333333;
  background: none repeat scroll 0 0 #fffefe;
  border: solid 10px #ff7f7f;
  box-shadow: 3px 3px 3px #666;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 300px; }
  .tuts-container-red .tuts-content {
    display: block;
    margin-bottom: 40px;
    margin-right: 20px; }
  .tuts-container-red .tuts-exit {
    font-size: 10px;
    padding: 1px  3px 2px;
    margin: 1px 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 0 0 #fcb5b5;
    -webkit-box-shadow: inset 0 1px 0 0 #fcb5b5;
    -o-box-shadow: inset 0 1px 0 0 #fcb5b5;
    box-shadow: inset 0 1px 0 0 #fcb5b5;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2Y3ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNDY0NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7f7f), color-stop(100%, #ff4646));
    background-image: -webkit-linear-gradient(#ff7f7f, #ff4646);
    background-image: -moz-linear-gradient(#ff7f7f, #ff4646);
    background-image: -o-linear-gradient(#ff7f7f, #ff4646);
    background-image: -ms-linear-gradient(#ff7f7f, #ff4646);
    background-image: linear-gradient(#ff7f7f, #ff4646);
    background-color: #ff7f7f;
    border: solid 1px #fe0000;
    display: inline-block;
    font-family: tahoma, helvetica, arial, freesans, sans-serif;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #ff2323;
    vertical-align: baseline;
    cursor: hand;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0px;
    font-family: verdana, sans-serif;
    font-weight: bold; }
    .tuts-container-red .tuts-exit:hover:not(:disabled) {
      -moz-box-shadow: inset 0 1px 0 0 #fb9c9c;
      -webkit-box-shadow: inset 0 1px 0 0 #fb9c9c;
      -o-box-shadow: inset 0 1px 0 0 #fb9c9c;
      box-shadow: inset 0 1px 0 0 #fb9c9c;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjNjg2OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMzczNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fc6868), color-stop(100%, #ff3737));
      background-image: -webkit-linear-gradient(#fc6868, #ff3737);
      background-image: -moz-linear-gradient(#fc6868, #ff3737);
      background-image: -o-linear-gradient(#fc6868, #ff3737);
      background-image: -ms-linear-gradient(#fc6868, #ff3737);
      background-image: linear-gradient(#fc6868, #ff3737); }
    .tuts-container-red .tuts-exit:active:not(:disabled) {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzczNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjNjg2OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3737), color-stop(100%, #fc6868));
      background-image: -webkit-linear-gradient(#ff3737, #fc6868);
      background-image: -moz-linear-gradient(#ff3737, #fc6868);
      background-image: -o-linear-gradient(#ff3737, #fc6868);
      background-image: -ms-linear-gradient(#ff3737, #fc6868);
      background-image: linear-gradient(#ff3737, #fc6868);
      -moz-box-shadow: inset 0 1px 0 0 #fb9c9c;
      -webkit-box-shadow: inset 0 1px 0 0 #fb9c9c;
      -o-box-shadow: inset 0 1px 0 0 #fb9c9c;
      box-shadow: inset 0 1px 0 0 #fb9c9c; }
  .tuts-container-red .tuts-next, .tuts-container-red .tuts-close {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 12px;
    padding: 4px 20px 6px;
    margin: 4px 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 0 0 #fcb5b5;
    -webkit-box-shadow: inset 0 1px 0 0 #fcb5b5;
    -o-box-shadow: inset 0 1px 0 0 #fcb5b5;
    box-shadow: inset 0 1px 0 0 #fcb5b5;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2Y3ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNDY0NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7f7f), color-stop(100%, #ff4646));
    background-image: -webkit-linear-gradient(#ff7f7f, #ff4646);
    background-image: -moz-linear-gradient(#ff7f7f, #ff4646);
    background-image: -o-linear-gradient(#ff7f7f, #ff4646);
    background-image: -ms-linear-gradient(#ff7f7f, #ff4646);
    background-image: linear-gradient(#ff7f7f, #ff4646);
    background-color: #ff7f7f;
    border: solid 1px #fe0000;
    display: inline-block;
    font-family: tahoma, helvetica, arial, freesans, sans-serif;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #ff2323;
    vertical-align: baseline;
    cursor: hand;
    cursor: pointer;
    margin: 0px; }
    .tuts-container-red .tuts-next:hover:not(:disabled), .tuts-container-red .tuts-close:hover:not(:disabled) {
      -moz-box-shadow: inset 0 1px 0 0 #fb9c9c;
      -webkit-box-shadow: inset 0 1px 0 0 #fb9c9c;
      -o-box-shadow: inset 0 1px 0 0 #fb9c9c;
      box-shadow: inset 0 1px 0 0 #fb9c9c;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjNjg2OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMzczNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fc6868), color-stop(100%, #ff3737));
      background-image: -webkit-linear-gradient(#fc6868, #ff3737);
      background-image: -moz-linear-gradient(#fc6868, #ff3737);
      background-image: -o-linear-gradient(#fc6868, #ff3737);
      background-image: -ms-linear-gradient(#fc6868, #ff3737);
      background-image: linear-gradient(#fc6868, #ff3737); }
    .tuts-container-red .tuts-next:active:not(:disabled), .tuts-container-red .tuts-close:active:not(:disabled) {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzczNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjNjg2OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3737), color-stop(100%, #fc6868));
      background-image: -webkit-linear-gradient(#ff3737, #fc6868);
      background-image: -moz-linear-gradient(#ff3737, #fc6868);
      background-image: -o-linear-gradient(#ff3737, #fc6868);
      background-image: -ms-linear-gradient(#ff3737, #fc6868);
      background-image: linear-gradient(#ff3737, #fc6868);
      -moz-box-shadow: inset 0 1px 0 0 #fb9c9c;
      -webkit-box-shadow: inset 0 1px 0 0 #fb9c9c;
      -o-box-shadow: inset 0 1px 0 0 #fb9c9c;
      box-shadow: inset 0 1px 0 0 #fb9c9c; }
  .tuts-container-red .tuts-arrow, .tuts-container-red .tuts-arrow-shadow {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid !important;
    margin: auto auto; }
  .tuts-container-red .tuts-arrow {
    z-index: 15;
    border-width: 14px !important; }
    .tuts-container-red .tuts-arrow.tuts-top-center, .tuts-container-red .tuts-arrow.tuts-top-left, .tuts-container-red .tuts-arrow.tuts-top-right {
      border-color: #fffefe transparent transparent transparent !important;
      bottom: -28px;
      left: 0;
      right: 0; }
    .tuts-container-red .tuts-arrow.tuts-bottom-center, .tuts-container-red .tuts-arrow.tuts-bottom-left, .tuts-container-red .tuts-arrow.tuts-bottom-right {
      border-color: transparent transparent #fffefe !important;
      top: -28px;
      left: 0;
      right: 0; }
    .tuts-container-red .tuts-arrow.tuts-top-left, .tuts-container-red .tuts-arrow.tuts-bottom-left {
      left: 15px;
      right: auto; }
    .tuts-container-red .tuts-arrow.tuts-top-right, .tuts-container-red .tuts-arrow.tuts-bottom-right {
      left: auto;
      right: 15px; }
    .tuts-container-red .tuts-arrow.tuts-left-center, .tuts-container-red .tuts-arrow.tuts-left-top, .tuts-container-red .tuts-arrow.tuts-left-bottom {
      border-color: transparent transparent transparent #fffefe !important;
      right: -28px;
      top: 0;
      bottom: 0; }
    .tuts-container-red .tuts-arrow.tuts-right-center, .tuts-container-red .tuts-arrow.tuts-right-top, .tuts-container-red .tuts-arrow.tuts-right-bottom {
      border-color: transparent #fffefe transparent transparent !important;
      left: -28px;
      top: 0;
      bottom: 0; }
    .tuts-container-red .tuts-arrow.tuts-left-top, .tuts-container-red .tuts-arrow.tuts-right-top {
      top: 15px;
      bottom: auto; }
    .tuts-container-red .tuts-arrow.tuts-left-bottom, .tuts-container-red .tuts-arrow.tuts-right-bottom {
      top: auto;
      bottom: 15px; }
    .tuts-container-red .tuts-arrow.tuts-top-center, .tuts-container-red .tuts-arrow.tuts-bottom-center {
      left: expression(((this.parentElement.clientWidth / 2)-14) + "px"); }
    .tuts-container-red .tuts-arrow.tuts-left-center, .tuts-container-red .tuts-arrow.tuts-right-center {
      top: expression(((this.parentElement.clientHeight / 2)-14) + "px"); }
  .tuts-container-red .tuts-arrow-shadow {
    z-index: 10;
    border-width: 24px !important; }
    .tuts-container-red .tuts-arrow-shadow.tuts-top-center, .tuts-container-red .tuts-arrow-shadow.tuts-top-left, .tuts-container-red .tuts-arrow-shadow.tuts-top-right {
      border-color: #ff7f7f transparent transparent transparent !important;
      bottom: -48px;
      left: 0;
      right: 0; }
    .tuts-container-red .tuts-arrow-shadow.tuts-bottom-center, .tuts-container-red .tuts-arrow-shadow.tuts-bottom-left, .tuts-container-red .tuts-arrow-shadow.tuts-bottom-right {
      border-color: transparent transparent #ff7f7f !important;
      top: -48px;
      left: 0;
      right: 0; }
    .tuts-container-red .tuts-arrow-shadow.tuts-top-left, .tuts-container-red .tuts-arrow-shadow.tuts-bottom-left {
      left: 5px;
      right: auto; }
    .tuts-container-red .tuts-arrow-shadow.tuts-top-right, .tuts-container-red .tuts-arrow-shadow.tuts-bottom-right {
      left: auto;
      right: 5px; }
    .tuts-container-red .tuts-arrow-shadow.tuts-left-center, .tuts-container-red .tuts-arrow-shadow.tuts-left-top, .tuts-container-red .tuts-arrow-shadow.tuts-left-bottom {
      border-color: transparent transparent transparent #ff7f7f !important;
      right: -48px;
      top: 0;
      bottom: 0; }
    .tuts-container-red .tuts-arrow-shadow.tuts-right-center, .tuts-container-red .tuts-arrow-shadow.tuts-right-top, .tuts-container-red .tuts-arrow-shadow.tuts-right-bottom {
      border-color: transparent #ff7f7f transparent transparent !important;
      left: -48px;
      top: 0;
      bottom: 0; }
    .tuts-container-red .tuts-arrow-shadow.tuts-left-top, .tuts-container-red .tuts-arrow-shadow.tuts-right-top {
      top: 5px;
      bottom: auto; }
    .tuts-container-red .tuts-arrow-shadow.tuts-left-bottom, .tuts-container-red .tuts-arrow-shadow.tuts-right-bottom {
      top: auto;
      bottom: 5px; }
    .tuts-container-red .tuts-arrow-shadow.tuts-top-center, .tuts-container-red .tuts-arrow-shadow.tuts-bottom-center {
      left: expression(((this.parentElement.clientWidth / 2)-24) + "px"); }
    .tuts-container-red .tuts-arrow-shadow.tuts-left-center, .tuts-container-red .tuts-arrow-shadow.tuts-right-center {
      top: expression(((this.parentElement.clientHeight / 2)-24) + "px"); }
